@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*

    0.1rem = 1.6px
    0.2rem = 3.2px
    0.3rem = 4.8px
    0.4rem = 6.4px
    0.5rem = 8px
    0.6rem = 9.6px
    0.7rem = 11.2px
    0.8rem = 12.8px
    0.9rem = 14.4px


    // 16px
    0.75rem = 12px
    0.875rem = 14px
    1rem = 16px
    1.125rem = 18px
    1.25rem = 20px
    1.5rem = 24px
    1.875rem = 30px
    2rem = 32px
    2.25rem = 36px
    2.5rem = 40px
    3rem = 48px
    4rem = 64px

    // 18px
    0.75rem = 13.5px
    0.875rem = 15.75px
    1rem = 18px
    1.125rem = 20.25px
    1.25rem = 22.5px
    1.5rem = 27px
    1.875 = 33.75px
    2rem = 36px
    2.25 = 40.5px
    2.5rem = 45px
    3rem = 54px
    4rem = 72px
    
    For the large screen  -> 3 rem * 25px = 75px
    For tablet screen        -> 3 rem * 18px = 54px
    For mobile screen      -> 3 rem  * 12px = 36px
    Default setting            -> 3rem * 16px = 48px

    mobile -> 16px
    tablet -> 18px
    desktop -> 


    16px 18px 21px
    14px 16px 18px

    21px 24px 32px



*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; // regular
    font-size: 16px;
    color: $primary-2;
}

.text-sm {
    font-size: 13.33px;
    line-height: 16px;
}

.text-base {
    font-size: 16px;
    line-height: 20px;
}

.text-lg {
    font-size: 19.2px;
    line-height: 24px;
}

.content {
    display: flex;
    padding-top: $header-height;
    min-height: calc(100vh - #{$header-height});
    flex-direction: column;
}

.mh-auto {
    margin-left: auto;
    margin-right: auto;
}

.border-solid-default {
    border-style: solid;
}

input[type='password'] {
    letter-spacing: 0.12em;
}

h3 {
    font-size: 33.18px;
    line-height: 40px;
    font-weight: 500;
}

h6 {
    font-size: 23.04px;
    line-height: 24px;
    font-weight: 500;
}

.text-center {
    text-align: center;
}

.mt-sm {
    margin-top: 1rem;
}

.ml-sm {
    margin-left: 1rem;
}

.mt-md {
    margin-top: 2.5rem;
}

.mb-sm {
    margin-bottom: 1rem;
}

.ml-sm {
    margin-left: 1rem;
}

.mb-md {
    margin-bottom: 2.5rem;
}

hr {
    border-color: hsl(210, 23%, 95%);
    border-style: solid none;
    border-width: 1px 0;
    margin: 25px 0 21px 0;
}
.hr-break {
    border: none;
    border-top: 1px solid $grey-dark-3;
    color: $primary-2;
    overflow: visible;
    text-align: center;
    height: 6px;
}
.hr-break:after {
    font-size: 16px;
    line-height: 20px;
    background: $background-base;
    content: attr(data-break);
    padding: 0 8px;
    position: relative;
    top: -13px;
}

textarea {
    width: 300px;
    height: 150px;
    resize: none;
}