@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; // regular
    font-size: 16px;
    // line-height: 1.6;
    color: $primary-2;
}

.content {
    display: flex;
    padding-top: 65px;
    min-height: calc(100vh - 65px);
    background-color: red;
    flex-direction: column;
}

input[type='password'] {
    letter-spacing: 0.12em;
}

.headling {
    font-size: 32px;
    line-height: 48px;
}

.text-center {
    text-align: center;
}

.mt-sm {
    margin-top: 2rem;
}

.mt-md {
    margin-top: 3rem;
}

.mb-sm {
    margin-bottom: 2rem;
}

.mb-md {
    margin-bottom: 3rem;
}
