// colors
$base: #FFFFFF;

$primary-1: #FFFDFD;
$primary-2: #100B00;
$primary-3: #29326F;

$secondary: #38048D;

$accents-1: #28ECDD;
$accents-2: #CBEF43;
$accents-3: #78960D;

$grey-light-1: #f2f2f7;
$grey-light-2: #e5e5ea;
$grey-light-3: #d1d1d6;
$grey-light-4: #c7c7cc;

$grey-dark-1: #48484a;
$grey-dark-2: #636366;
$grey-dark-3: #8e8e93;

$header-height: 60px;
$breakpoint-tablet: 768px;
$width-max: 1240px;

$gradiant-auth: linear-gradient(to bottom, #38048d, #311689, #2b2085, #28277f, #272c79, #1b3e88, #0c4f95, #0060a0, #0083be, #00a7d1, #00cadb, #28ecdd);

$shadow-auth: 0px 4px 7px 1px rgba(16, 11, 0, 0.25);
$shadow-card: 0px 0px 0px 1px rgba(16,11,0,0.07);
// :root {
//     --primary-1: #FFFFFA;
//     --primary-2: #0D0D0D;
//     --secondary: #401F3E;
//     --accents-1: #5DEAD5;
//     --accents-2: #6FC3DF;
//     --accents-3: #5438DC;

//     --grey-light-1: #F2F2F7;
//     --grey-light-2: #E5E5EA;
//     --grey-light-3: #D1D1D6;
//     --grey-light-4: #C7C7CC;

//     --grey-dark-1: #48484A;
//     --grey-dark-2: #636366;
//     --grey-dark-3: #8E8E93;

//     --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
//     --shadow-light: 0 2rem 5rem rgba(0,0,0,.06);

//     --line: 1px solid var(--grey-light-2);
// }

// @mixin media-query($media) {
//     @if $media == sm {
//         @media only screen and (min-width: 500px) { // 640px - 1023px
//             @content;
//         }
//     } 
//     @else if $media == md {
//         @media only screen and (min-width: 640px) and (max-width: 1023px) { // 640px - 1023px
//             @content;
//         }
//     }
//     @else if $media == lg {
//         @media only screen and (min-width: 1024px) and (max-width: 1279px) { // 1024px - 1279px
//             @content;
//         }
//     }
//     @else if $media == xl {
//         @media only screen and (min-width: 1280px) { // min 1280px
//             @content;
//         }
//     }
// }

// 1024 x 768
// 1280 x 720
// 1366 x 768
// 1600 x 900
// 1920 x 1080
// 2560 x 1440