.auth-container {
    background-image: $gradiant-auth;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100%;
    min-height: 100vh;
}

.auth-wrapper {
    margin: 0 auto;
    max-width: 400px;
    background-color: $primary-1;
    overflow: hidden;
    box-shadow: $shadow-auth;
    border-radius: 8px;
    padding: 1.5rem;
    padding: 2.5rem 2rem;
}

.auth-title {
    font-weight: 700;
    margin-bottom: 2.5rem;
}

.auth-footer {
    margin-top: 24px;
    float: right;
    a {
        font-weight: 500;
    }
}

input[type=email]:not(:focus):invalid,
input[type=password]:not(:focus):invalid {
  color: red;
  outline-color: red;
}