.auth-container {
    background: rgb(0, 0, 0);
    // background: linear-gradient(
    //     301.99deg,
    //     $accents-3 12.97%,
    //     #6fc3df 80.81%,
    //     #5dead5 96.23%
    // );
    // background-image: linear-gradient(to right bottom, #5dead5, #00ccea, #00a9ff, #007cff, #5438dc);
    background-image: linear-gradient(to bottom, #3f2e56, #47306d, #4e3285, #52339e, #5535b8, #4a4ed1, #3665e9, #007cff, #00a1ff, #00beff, #00d6e9, #5dead5);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100%;
    min-height: 100vh;
}

.auth-wrapper {
    margin: 0 auto;
    width: 400px;
    background-color: white;
    overflow: hidden;
    padding-top: 4rem;
    padding-bottom: 4rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 15px;
}
