.auth-container {
    background-image: $gradiant-auth;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 100%;
    min-height: 100vh;
}

.auth-wrapper {
    margin: 0 auto;
    width: 400px;
    background-color: $primary-1;
    overflow: hidden;
    padding-top: 4rem;
    padding-bottom: 4rem;
    box-shadow: $shadow-auth;
    border-radius: 8px;
    padding: 1.5rem;
    @media (min-width: $breakpoint-tablet) {
        padding: 3rem;
    }
}
