.btn {
    font-family: inherit;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

.btn-login {
    background: $primary-2;
    padding: 0.75rem 0;
    width: 100%;
    font-size: 23.04px;
    font-weight: 700;
    line-height: 24px;
    border-radius: 6px;
}

.btn-navbar {
    display: flex;
    border-radius: 8px;
    border: 1px solid white;
    font-weight: 600;
    padding: 8px 19px;
    text-decoration: none;
    cursor: pointer;
    justify-content: center;

    @media (min-width: $breakpoint-tablet) {
        justify-content: initial;
    }
}

.btn-signin--google {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn-signin {
    background-color: transparent;
    white-space: nowrap;
}

.btn-signup {
    background-color: $accents-2;
    border: 1px solid $accents-2;
    color: black;
    white-space: nowrap;
}

.btn-logout {
    background-color: transparent;
    border: none;
    white-space: nowrap;
    align-self: flex-end;
    align-items: center;
    padding: 0 16px;
    @media (min-width: $breakpoint-tablet) {
        align-self: initial;
        padding: 8px 0px 8px 19px;
    }
    svg {
        color: $accents-1;
        margin-left: 0.35rem;
        width: 18px;
        height: 18px;
    }
}

.btn-cancel {
    padding: 0.65rem 3rem;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid black;
    background-color: transparent;
    white-space: nowrap;
    color: black;
}

.btn-save {
    background: $secondary;
    padding: 0.65rem 3rem;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid $secondary;
}


.btn-upload {
    background: $primary-3;
    padding: 0.65rem 3rem;
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    border: 1px solid $primary-3;
}