.btn {
    background-color: transparent;
    border: none;
    color: #fff;
    // border-radius: 6px;
    font-size: 12px;
    // text-transform: uppercase;
    // padding: 0.8rem 3rem;
    padding: 7px 10px 7px 10px;
    // width: 90%;

    &:hover {
        // background-color: #999999;
    }
}
