.input-field {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: rgb(255, 255, 255);
    border: 1px solid #000;
    padding: 8px 15px 8px 15px;
    border-radius: 4px;
    transition: all 0.2s;
    width: 100%;
    margin-top: 0.5rem;
}

.forms-group {
    display: flex;
    flex-direction: column;
}

.input-wrapper {
    display: flex;
    flex-flow: column;
}

.input-container .input-icon {
    position: absolute;
    left: 8px;
    top: 8px;
}

.input-error {
    border: 1px solid red;
}
.msg-error {
    margin-top: 0.25rem;
    font-size: 14px;
    color: red;
}
