// .modal__background {
//     background-color: rgba(0, 0, 0, 0.2);
//     opacity: 1;
//     position: fixed;
//     top: 0;
//     left: 0;
//     height: 100vh;
//     width: 100vw;
// }

.modal__wrapper {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.modal__content {
    margin-top: 3rem;
    background-color: #fff;
    width: 90%;
    max-width: 500px;
    max-height: 50%;
    // height: 20%;
    overflow: hidden;
    text-align: center;
    // padding: 24px 16px;
    border-radius: 8px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
    position: relative;
}

.modal__header {
    flex: 0 1 0%;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    height: 56px;
    background: white;
    overflow: hidden;
    // border-top-left-radius: 16px;
    // border-top-right-radius: 16px;
    display: flex;
    justify-content: space-between;
}

.modal__close-btn {
    position: absolute;
    display: flex;
    top: 8px;
    right: 16px;
    svg {
        width: 24px;
        height: 24px;
    }
}


.modal-title {
    color: #2c3e50;
    font-weight: 500;
    font-size: 19.2px;
    line-height: 24px;
    text-align: center;
}

.modal__body {
    flex: 1 1 0%;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    min-height: 200px;
    font-size: 14px;
    color: #2c3e50;
}

.modal__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-inline-start: 16px;
    padding-inline-end: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
}