.modal-background {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100vw;
    height: 100vh;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.modal-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content {
    width: 500px;
    max-height: 250px;
    min-height: 200px;
    padding: 24px 16px;
    background: white;
    color: white;
    z-index: 10;
    border-radius: 8px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modal-header {
    height: 56px;
    background: white;
    overflow: hidden;
    // border-top-left-radius: 16px;
    // border-top-right-radius: 16px;
    display: flex;
    justify-content: space-between;
}


.modal-title {
    margin: 0;
    padding: 10px;
    color: #2c3e50;
    font-weight: 500;
    font-size: 19.2px;
    line-height: 24px;
    text-align: center;
}

.modal-body {
    padding: 10px;
    font-size: 14px;
    color: #2c3e50;
    text-align: center;
}

.modal-actions {
    position: absolute;
    bottom: 2px;
    margin-bottom: 10px;
    width: 100%;
}