.header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: $secondary;
    color: white;
    
    &__container {
        max-width: 1280px;
        padding: 0 16px;
        margin: auto;
        display: flex;
        align-items: center;
        position: relative;
        height: $header-height;
    }

    &__logo {
        background-color: transparent;
        // padding: 20px 10px 10px 20px;
        height: 100%;
        border-radius: 5px;
        display: inline-flex;
        flex-shrink: 0;
        align-self: stretch;
        align-items: center;
    }


}