.navbar {
    display: flex;
    align-items: center;
    margin-left: auto;
    height: 100%;

    &__collapse {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        // height: 250px;
        position: absolute;
        top: $header-height;
        right: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        border-radius: 0px 0px 16px 16px;
        padding: 1.5rem;

        @media (min-width: $breakpoint-tablet) {
            display: flex;
            align-items: center;
            flex-direction: row;
            position: relative;
            height: 100%;
            top: auto;
            right: auto;
            opacity: 1;
            transition: all 0.5s ease;
            border-radius: 0;
            padding: 0;
        }
    }

    &__collapse.active {
        background-color: $secondary;
        right: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 2;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    }

    &__menu-icon {
        display: flex;
        align-self: center;
        // padding-left: 16px;
        @media (min-width: $breakpoint-tablet) {
            display: none;
        }

        svg {
            width: 24px;
            height: 24px;
        }
    }

    &__overlay.active {
        position: fixed;
        display: block;
        width: 100%;
        height: 100%;
        top: $header-height;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 1;
        @media (min-width: $breakpoint-tablet) {
            display: none;
        }
    }

    &__links {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;

        @media (min-width: $breakpoint-tablet) {
            display: flex;
            align-items: center;
            flex-direction: row;
            min-width: 50%;
            padding-right: 42px;
            height: 100%;
            width: initial;
        }

        a {
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: $grey-light-2;
            padding: 8px;
            border-bottom: 1px solid #dadce0;

            &:hover {
                background-color: $accents-2;
                color: black !important;
            }

            @media (min-width: $breakpoint-tablet) {
                position: relative;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 20px 8px;
                border-bottom: none;
            }
        }

        a.active {
            color: $accents-2;
        }

        a:focus{
            outline: none;
           }
    }

    &__auth {
        width: 100%;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        // Tablet
        @media (min-width: $breakpoint-tablet) {
            width: initial;
            margin: 0px;
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 100%;
            padding: 0;
        }

        // buttons of authentication
        button:nth-child(1){
            margin-bottom: 16px;
            @media (min-width: $breakpoint-tablet) {
                margin-right: 1.25rem;
                margin-bottom: 0;
            }
        }

        &--user {
            display: none;
        }

        &--user.logged {
            display: flex;
            align-self: flex-end;
            align-items: center;
            margin-bottom: 1rem;
            margin-right: 1.25rem;

            span {
                white-space: nowrap;
            }

            @media (min-width: $breakpoint-tablet) {
                align-self: auto;
                margin-bottom: 0;
            }

            svg {
                margin-right: 0.55rem;
                width: 24px;
                height: 24px;
            }
        }
    }
}
