.product-container {
    max-width: 1030px;
    margin-left: auto;
    margin-right: auto;
}


.items-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px;
    padding: 8px;
    justify-items: center;

    @media (min-width: 640px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (min-width: 768px) {
        gap: 30px;
        padding: 16px;
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media (min-width: 1024px) {
        gap: 30px;
        padding: 16px;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

.item-card {
    display: flex;
    flex-direction: column;
    background-color: #fffdfd;
    border-radius: 9px;
    box-shadow: 0px 0px 0px 1px rgba(16, 11, 0, 0.07);
    padding: 16px 0;
    width: 100%;
    // height: 200px;

    &__figure {
        align-items: center;
        display: flex;
        justify-content: center;
        overflow: hidden;
        padding: 0 8px 16px;
        margin-bottom: 20px;

        img {
            height: 35vw;
            max-width: 100%;
            min-width: 100%;
            object-fit: cover;

            @media (min-width: 640px) {
                height: 200px; //260
            }
        }
    }

    &__options {
        align-self: flex-end;
        padding-right: 8px; // 16px
        
        .opt {
            padding-left: 8px; // 16px
        }

        svg {
            width: 18px; //21px
            height: 18px;//21px
        }
    }

    &__content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        padding: 8px;
        // border-left: 1px solid rgba(16, 11, 0, 0.09);

        @media (min-width: 640px) {
            border-left: none;
            // border-top: 1px solid rgba(16, 11, 0, 0.09);
            padding: 0 16px;
        }
    }

    &__title {
        font-size: 16px;

        @media (min-width: 450px) {
            font-size: 18px;
        }

    }

    &__star-rating {
        > * {
            font-size: 21px;
            @media (min-width: 450px) {
                font-size: 18px;
            }
        }
    }

    &__price {
        font-size: 18px;

        @media (min-width: 450px) {
            font-size: 21px;
        }
    }
}
