// dropzone drag and drop - upload
.dropzone-area {
    border: 2px dashed #38048d;
    height: 300px;
    max-width: 500px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: center;
}

.dropzone-area.active {
    border: 2px solid #38048d;
    border-radius: 2px;
    padding: 4px;
}

.dropzone-area svg {
    color: $primary-3;
}

.dropzone-area header {
    font-size: 24px;
    font-weight: 500;
    color: $primary-3;
}
.dropzone-area span {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 15px 0;
    color: $primary-3;
}

.dropzone-img {
    display: block;
    width: auto;
    height: 100%;
    object-fit: cover;
}


// two columns forms
.row-grid {
    display: grid;
    grid-template-columns: 1fr;
    @media (min-width: 768px) {
        font-size: 16px;
        grid-template-columns: repeat(2, 1fr);
        gap: 2.5rem;
    }
}
.col-50 {
    width: 50%;
}
.col {
    width: 100%;
}

.products-container {
    // max-width: 1030px;
    max-width: 1076px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding: 0px 8px 32px 8px;
    @media (min-width: 768px) {
        padding: 0px 16px 48px 16px;
    }
    // padding: 0 16px;
    // box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
    // @media (min-width: 768px) {
    //     padding: 0 32px;
    // }
}

.products-btn {
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
}

.products-header {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-bottom: 1rem;

    @media (min-width: 768px) {
        margin-top: 2.5rem;
        margin-bottom: 1.5rem;
    }

    &__title {
        margin-bottom: 16px;
        font-size: 23.04px;
        line-height: 24px;
        font-weight: 500;

        @media (min-width: 768px) {
            margin-bottom: 32px;
            font-size: 27.65px;
            line-height: 32px;
        }
    }

    &__add-btn {
        font-size: 13.33px;
        line-height: 16px;
        padding: 8px 10px;
        background-color: $primary-3;
        color: #FFF;
        display: inline-flex;
        margin-left: auto;
        align-items: center;
        border: none;
        box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.2);
        border-radius: 4px;
        cursor: pointer;

        &:active {
            background-color: $accents-3;
        }

        // @media (min-width: 768px) {
        //     font-size: 14px;
        //     padding: 8px 10px;
        //     font-size: 13.33px;
        //     line-height: 16px;
        // }

        svg {
            width: 24px;
            height: 24px;
            margin-right: 0.25rem;
            // @media (min-width: 768px) {
            //     width: 24px;
            //     height: 24px;
            // }
        }
    }
}

.items-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 192px));
    gap: 16px;
    justify-content: space-around;

    // @media (min-width: 640px) {
    //     grid-template-columns: repeat(2, minmax(0, 1fr));
    // }

    // @media (min-width: 768px) {
    //     gap: 30px;
    //     padding: 16px;
    //     grid-template-columns: repeat(3, minmax(0, 1fr));
    // }

    // @media (min-width: 1024px) {
    //     gap: 30px;
    //     padding: 16px;
    //     grid-template-columns: repeat(4, minmax(0, 192px));
    // }
}

.item-card {
    display: flex;
    flex-direction: column;
    background-color: $primary-1;
    border-radius: 16px;
    box-shadow: 0px 0px 0px 1px rgba(16, 11, 0, 0.07);
    width: 100%;
    padding: 8px;
    @media (min-width: 768px) {
        padding: 16px;
    }
    // height: 200px;

    &__figure {
        align-items: center;
        display: flex;
        justify-content: center;
        overflow: hidden;
        // padding: 0 8px 16px;
        padding: 0;
        margin-bottom: 24px;

        img {
            height: 35vw;
            max-width: 100%;
            min-width: 100%;
            object-fit: cover;

            @media (min-width: 640px) {
                // height: 200px; //260
                max-height: 160px;
            }
        }
    }

    &__options {
        align-self: flex-end;
        margin-bottom: 8px;
        // padding-right: 8px; // 16px

        .opt {
            padding-left: 8px; // 16px
        }

        svg {
            color: black;
            width: 22px; //21px
            height: 22px; //21px
            // @media (min-width: 640px) {
            //     width: 21px; //21px
            //     height: 21px; //21px
            // }
        }
    }

    &__content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        // padding: 8px;

        @media (min-width: 640px) {
            border-left: none;
            // padding: 0 16px;
        }
    }

    &__title {
        font-size: 16px;
        line-height: 24px;
        font-weight: 500;
        margin-bottom: 8px;

        // @media (min-width: 450px) {
        //     font-size: 18px;
        // }
    }

    &__star-rating {
        > * {
            font-size: 19.2px;
            line-height: 24px;
            display: flex;
            margin-bottom: 8px;
            // @media (min-width: 450px) {
            //     font-size: 18px;
            // }
        }
    }

    &__price {
        font-size: 19.2px;
        line-height: 24px;
        font-weight: 700;
        color: $accents-4;
        // @media (min-width: 450px) {
        //     font-size: 21px;
        // }
    }

    &__stock {
        font-size: 16px;
        line-height: 24px;
        margin-top: 8px;
    }
}
